{
  "extends": [
    "airbnb",
    "prettier",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "globals": {
    "afterAll",
    "beforeAll",
    "beforeEach",
    "describe",
    "expect",
    "fit",
    "it",
    "jasmine",
    "xit",
    "test",
    "jest"
  }
}

