{
  "extends": [
    "airbnb",
    "prettier",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "globals": {
    "afterAll": true,
    "beforeAll": true,
    "beforeEach": true,
    "describe": true,
    "expect": true,
    "fit": true,
    "it": true,
    "jasmine": true,
    "xit": true,
    "test": true,
    "jest: true"
  }
}

